{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome : {{user.first_name}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Coustom Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/coustom.css' %}">


</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="/welcome">GramPower</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/addDevice">Add Device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

        <!-- Message aleart -->
        {% for message in messages %}
        <p class="text-center text-success mt-3" style="font-family: Poppins-Medium;">{{message}}</p>
        {% endfor %}

    <!-- Add Device -->
    <div class="container px-4 p-5 d-flex m-auto justify-content-center mt-5">
        <div class="card border-success mb-3 p-1" style="max-width: 18rem;">
            <form action="#" method="POST">
                {% csrf_token %}
                <div class="card-header bg-transparent border-success">
                    Add Device
                </div>
                <!-- Device Name -->
                <div class="mb-2 mt-3">
                    <label for="deviceName" class="form-label">Device Name:</label>
                    <input class="form-control form-control-sm" name="deviceName" type="text" placeholder="Device Name">
                  </div>
                  <!-- Device Id -->
                  <div class="mb-2">
                    <label for="deviceId" class="form-label">Device ID:</label>
                    <input class="form-control form-control-sm" name="deviceId" type="text" placeholder="Device Id">
                  </div>
                    <!-- Device Status -->
                    <div class="mb-2">
                        <label for="deviceId" class="form-label">Device Status:</label>
                        <select class="form-select form-control-sm" name="deviceStatus" aria-label="Default select example">
                            <option value="Live" selected>Live</option>
                            <option value="Down">Down</option>
                          </select>
                        </div>
                <div type="submit" name="device" class="card-footer bg-transparent border-success">
                    <button type="submit" name="device" class="btn btn-success m-auto d-flex">Add Device</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Device Data End -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>