{% extends "base.html" %}

{% block content %}

    <!-- Message aleart -->
    {% for message in messages %}
    <p class="text-center text-success" style="font-family: Poppins-Medium;">{{message}}</p>
    {% endfor %}


    <!-- Device Data -->
    <div class="container px-4 pt-5 d-flex justify-content-center" id="featured-3">
        <table class="m-5">
            <tr>
                <th class="border-primary">Device Id: </th>
                <td class="border-primary px-5">{{devicepost.device_id}}</td>
            </tr>
            <tr>
                <th class="border-primary">Device Name: </th>
                <td class="border-primary px-5">{{devicepost.device_name}}</td>
            </tr>
        </table>
        <table class="m-5">
            <tr>
                <th class="border-primary">Device Status: </th>
                <td class="border-primary px-5">{{devicepost.device_status}}</td>
            </tr>
            <tr>
                <th class="border-primary">Last Data Point: </th>
                <td class="border-primary px-5">2022-08-24 19:50:55</td>
            </tr>
        </table>
    </div>

    <!-- Average Data Consumption -->
    <div class="container px-4 py-2">
        <div class="row g-4 py-5 row-cols-lg-4 justify-content-center">
            <div class="feature col border px-2 pt-3 m-3 rounded-2">
                <h6>Average Current</h6>
                <p>12.3 Amp</p>
            </div>
            <div class="feature col border px-2 pt-3 m-3 rounded-2">
                <h6>Average Voltage</h6>
                <p>230.45 V</p>
            </div>
            <div class="feature col border px-2 pt-3 m-3 rounded-2">
                <h6>Total Consumption</h6>
                <p>2345 kWh</p>
            </div>
        </div>
    </div>

    <!-- Device Data End -->

    <!-- Graph Section -->
    <div class="container mb-5 graph-sec p-4" style="width: 40vw;">
        <div class="live-chart d-flex bg-secondary px-2 py-1 align-items-center">
            <div class="blink mx-3"></div>
            <p class="moto m-0 text-light">Live Data</p>
        </div>
        <canvas id="myChart"></canvas>
        <canvas id="mycharts"></canvas>
    </div>
    <!-- Graph Section End -->

    {% endblock content %}
